
  <p>Bonjour {{name}},</p>
  <p>
  <br/><br/>
  Nous vous informons que votre compte fournisseur a été bloqué temporairement. Veuillez prendre en compte les informations suivantes :
  </p>
  <ul>
    <li>Votre compte a été bloqué en raison de certaines activités suspectes ou non conformes à nos politiques.</li>
    <li>Vous ne pourrez pas accéder à votre compte pendant cette période de blocage.</li>
    <li>Nous vous invitons à contacter notre équipe de support pour obtenir plus d'informations sur la raison du blocage et les actions à entreprendre pour résoudre ce problème.</li>
    <li>Notre équipe est disponible pour vous aider et vous accompagner dans le processus de déblocage de votre compte.</li>
  </ul>
  <p>
  Nous nous excusons pour les désagréments que cela pourrait causer et nous vous remercions de votre compréhension. Veuillez nous contacter dès que possible afin que nous puissions résoudre ce problème et rétablir l'accès à votre compte.
  </p>
  <p>Cordialement,</p>
  <p>Votre équipe de support</p>