
<p>Bonjour {{name}},</p>
<p>
<br/><br/>
Nous sommes heureux de vous informer que votre compte fournisseur a été activé avec succès. Nous vous remercions d'avoir choisi notre entreprise pour vos besoins en matière de fournitures.
Votre compte est désormais prêt à être utilisé. Vous pouvez vous connecter en utilisant les identifiants que vous avez fournis lors de l'inscription. Une fois connecté, vous aurez accès à toutes les fonctionnalités de notre plateforme en ligne, y compris la gestion de vos commandes, la facturation et la gestion de votre profil.
</p>
<p>
Nous sommes impatients de travailler avec vous et de vous fournir les meilleurs produits et services possible. Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter à tout moment. Notre équipe de support est disponible pour répondre à toutes vos demandes.
Nous espérons que vous apprécierez votre expérience de travail avec notre entreprise. Merci encore pour votre confiance et votre fidélité.
</p>

Pour configurer votre compte, veuillez cliquer sur le lien ci-dessous :
{{url}}

Cordialement.

